<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdeliver.net/npm/modern-css-reset@1.3.0/dist/reset.min.css"/>
    <title>Toggle</title>
    <link rel="stylesheet" type ="text/css" href="/static/tog.css">
</head>
<body>
    <label class="toggle">
        <span class="onoff">OUT</span>
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
      <!-- <div class="card" id="staffLogin" onclick="location.href='{{ url_for('select') }}'">
        <!-- <div class="icon">👥</div> -->
        <!-- <div class="title">Home</div> --> -->
    <!-- </div> -->
    <button type="submit" onclick="location.href='{{ url_for('select') }}'">Home</button>

</body>
<script src="/static/tog.js" type="module"></script>
</html>